/* You can add global styles to this file, and also import other style files */

//Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";

body {
  margin: 0;
  background: linear-gradient(white 50%, #243060 50%) fixed;
  height: 100vh;
}