@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.home {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  .title {
    font-family: 'Poppins', sans-serif;
    color: #243060;
    font-size: 5rem;
    font-weight: bold;
  }
}

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  .button {
    font-family: 'Poppins', sans-serif;
    color: #243060;
    font-weight: bold;
  }
}
